/* render large width annotations */
:root {
    --md-tooltip-width: 500px
}

h2.doc.doc-heading {
  border-top: 2px solid rgba(0, 0, 0);
  padding-top: 48px;
}


/* Highlight None inside code blocks */
code.highlight.language-python span.kc {
  color: var(--md-code-hl-keyword-color);
}

/* Highlight None inside code blocks */
code.highlight.language-python span.kc {
  color: var(--md-code-hl-keyword-color);
}


h3.doc.doc-heading {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 48px;
}

a.md-nav__link--passed {
  padding-left: 10px;
}

a.md-nav__link--active {
  padding-left: 10px;
  font-weight: bold;
  border-left: .05rem solid var(--md-accent-fg-color);
}

h3 .doc-heading code {
  font-size: 16px;
}

.doc.doc-object.doc-class h2.doc.doc-heading {
  text-align: center;
}

.doc-heading code {
  font-weight: normal;
  font-family: "Roboto Mono", "SFMono-Regular", Consolas, "Courier New", Courier,
    monospace;
}

.doc.doc-label code {
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 100%;
  background-color: var(--md-accent-fg-color);
  color: var(--md-default-fg-color)
}

.doc.doc-labels {
  margin-left: 10px;
}
